<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
  <a
    class="btn btn-primary btn-sm"
    [routerLink]="['/', strEntity, 'view', id]"
    role="button"
    title="Ver"
    ><i class="bi bi-eye" aria-hidden="true"></i
  ></a>
  @if (canEdit) {
    <a
      class="btn btn-warning btn-sm"
      [routerLink]="['/', strEntity, 'edit', id]"
      role="button"
      title="Editar"
      ><i class="bi bi-pencil" aria-hidden="true"></i
    ></a>
  }
  @if (canDelete) {
    <a
      class="btn btn-danger btn-sm"
      [routerLink]="['/', strEntity, 'delete', id]"
      role="button"
      title="Eliminar"
      ><i class="bi bi-trash" aria-hidden="true"></i
    ></a>
  }
</div>
