<div class="container my-4 edit-form">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="form-card">
                <header class="mb-4">
                    <h1 class="h3 mb-0">Crear pago</h1>
                </header>

                <app-pago-form-unrouted [pago]="null" [mode]="'create'" (formSuccess)="onFormSuccess()"
                    (formCancel)="onFormCancel()">
                </app-pago-form-unrouted>
            </div>
        </div>
    </div>
</div>