<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Facturas</h1>
    <div class="text-muted">Total: {{ totalElementsCount () }}</div>
    @if (usuario() > 0) {
      <small class="text-muted"> Filtro: id de usuario {{ usuario() }}</small>
      <a
        class="ms-2"
        [routerLink]="['/factura']"
        role="button"
        title="Quitar filtro"
        > Quitar filtro</a>
    }
  </div>


  <div class="d-flex justify-content-between my-2 align-items-center">
    @if (5 < totalElementsCount()) {
      <app-botonera-rpp [numRpp]="numRpp()" (rppChange)="onRppChange($event)"></app-botonera-rpp>
    }
  </div>


  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      <thead>
        <tr>
          <th scope="col" (click)="onOrder('id')" style="cursor: pointer; width: 10%">
            ID
            @if (orderField() === 'id') { @if (orderDirection() === 'asc') {
            <i class="bi bi-caret-up-fill ms-1" aria-hidden="true"></i>
            } @if (orderDirection() === 'desc') {
            <i class="bi bi-caret-down-fill ms-1" aria-hidden="true"></i>
            } }
          </th>
          <th scope="col" (click)="onOrder('fecha')" style="cursor: pointer; width: 25%">
            Fecha
            @if (orderField() === 'fecha') { @if (orderDirection() === 'asc') {
            <i class="bi bi-caret-up-fill ms-1" aria-hidden="true"></i>
            } @if (orderDirection() === 'desc') {
            <i class="bi bi-caret-down-fill ms-1" aria-hidden="true"></i>
            } }
          </th>
          <th scope="col" (click)="onOrder('usuario')" style="cursor: pointer; width: 10%">
            Usuario
            @if (orderField() === 'usuario') { @if (orderDirection() === 'asc') {
            <i class="bi bi-caret-up-fill ms-1" aria-hidden="true"></i>
            } @if (orderDirection() === 'desc') {
            <i class="bi bi-caret-down-fill ms-1" aria-hidden="true"></i>
            } }
          </th>
          <th scope="col" style="width: 10%">Compras</th>
          <th scope="col" style="width: 15%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (!oPage() || (oPage() && oPage()?.content?.length === 0)) {
          <tr>
            <td colspan="6" class="text-center text-muted">Sin datos para mostrar.</td>
          </tr>
        }
        @for (oFactura of oPage()?.content; track oFactura.id) {
        <tr>
          <td style="text-align:center">{{ oFactura.id }}</td>
          <td style="text-align:center">{{ oFactura.fecha | datetime }}</td>
          <td><a [routerLink]="['/usuario','/view', oFactura.usuario.id]">
            {{ oFactura.usuario.nombre | trim: 20 }} 
            {{  ' (' + oFactura.usuario.id + ')' }}
            </a>
            <a
                class="btn btn-warning btn-sm ms-2 float-end"
                [routerLink]="['/factura', oFactura.usuario.id]"
                role="button"
                title="Editar"
                ><i class="bi bi-funnel-fill" aria-hidden="true"></i
            ></a>
          </td>
          <td style="text-align:center">
             @if (oFactura.compras === 0) {
                <i class="bi bi-ban" aria-hidden="true"></i> 
              } @else {
                <a [routerLink]="['/compra', oFactura.id]">
                  {{ oFactura.compras }}
                </a>
              } 
          </td>
           <td>
              <div class="d-flex justify-content-center">
                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                  <a
                    class="btn btn-primary btn-sm"
                    [routerLink]="['/factura/view', oFactura.id]"
                    role="button"
                    title="Ver"
                    ><i class="bi bi-eye" aria-hidden="true"></i
                  ></a>
                  <a
                    class="btn btn-warning btn-sm"
                    [routerLink]="['/factura/edit', oFactura.id]"
                    role="button"
                    title="Editar"
                    ><i class="bi bi-pencil" aria-hidden="true"></i
                  ></a>
                  <a
                    class="btn btn-danger btn-sm"
                    [routerLink]="['/factura/delete', oFactura.id]"
                    role="button"
                    title="Eliminar"
                    ><i class="bi bi-trash" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </td>
        </tr>
        }
      </tbody>
    </table>
  </div>


  <div class="d-flex justify-content-start my-2">
    @if (numRpp() < totalElementsCount()) {
      <app-paginacion
        [numPage]="numPage()"
        [numPages]="oPage()?.totalPages || 1"
        (pageChange)="goToPage($event)"
      ></app-paginacion>
    }
  </div>
</div>

