<div class="ms-auto d-flex align-items-center pe-3 top-actions">
  <div class="d-flex align-items-center ms-3">
    @if (!isSessionActive()) {
      <a
        [routerLink]="['/login']"
        class="btn btn-sm btn-outline-light d-inline-flex align-items-center nav-login-btn"
        [class.active]="activeRoute.startsWith('/login')"
        title="Acceder"
      >
        <i class="bi bi-person-circle me-2"></i>
        <span class="d-none d-lg-inline">Iniciar sesión</span>
      </a>
    } @else {
      <a class="user-info d-inline-flex align-items-center">
        <span class="d-none d-lg-inline text-light"
          ><i class="bi bi-person-circle me-2"></i> {{ userName() }}</span
        >
      </a>
      <a
        [routerLink]="['/logout']"
        class="btn btn-sm btn-outline-light d-inline-flex align-items-center nav-login-btn mx-3"
        [class.active]="activeRoute.startsWith('/logout')"
        title="Salir"
        >Salir</a
      >
    }
  </div>
</div>
